<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="(loading | async) else photosList"
  mode="indeterminate"
></mat-progress-spinner>

<ng-template #photosList>
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lt-lg="33%"
      fxFlex="25%"
      *ngFor="let photo of photos | async"
    >
      <mat-card>
        <img
          [src]="photo.image | image"
          [alt]="photo.title"
          mat-card-image
        />
        <mat-card-title>{{ photo.title }}</mat-card-title>
        <mat-card-content>
          Photos by:
          <a [routerLink]="['/photos-by-user/', photo.user._id]">{{ photo.user.email }}</a>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>
