<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div>
    <a routerLink="/">Photo Gallery</a>
  </div>
  <!-- <ng-template> -->
  <nav *appUserType="'user' else anonMenu">
    <a mat-button [routerLink]="['/photos-by-user/', (user | async)?._id]">
      Hello, {{ (user | async)?.email }}!
    </a>
    <a mat-button routerLink="/add-photo">Add new photo</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">User</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>{{ (user | async)?.email }}</button>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </nav>
  <!-- </ng-template> -->
</mat-toolbar>
<div class="content">
  <ng-content></ng-content>
</div>

<ng-template #anonMenu>
  <nav>
    <a mat-button routerLink="/register">REGISTER</a>
    <a mat-button routerLink="/login">SIGN IN</a>
  </nav>
</ng-template>
